*{
  background-color: rgb(102, 30, 120);
  text-align: center;
}


.search{
  background-color: #4e474e;
  margin-top: 50px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
}

.city{
  font-size: 25px;
  color: white;
  font-weight:bold;
  margin-top: 20px;
}

.date{
  color: rgb(236, 236, 236);
  /* font-weight: lighter; */
  font-weight:bold;
  margin-top: 10px;
}

.temp{
  color: white;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.weather{
  color: white;
  font-weight: bold;
  font-size: 40px;

}

.hi-low{
  color: white;
  margin-top: 20px;
  font-size: 30px;

}
